<h1><%= @store.name %></h1>
<%= @item.name %> -$<%= @item.price %></p>

<% @item.comments.each do |comment| %>
  <%= render 'comments/comment', { comment: comment } %>
<% end %>

<hr />

<%= link_to 'Edit Item', edit_store_item_path([@store, @item]) %>
<%= link_to 'Delete Item', [@store, @item], method: :delete %>
<%= link_to 'Back To Items', store_items_path(@store) %>
<%= link_to 'Add Comment', new_item_comment_path(@item) %>
